@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.btn {
    @apply p-4 rounded cursor-pointer;
}

.btn-primary {
    @apply bg-sky-500 text-white hover:bg-sky-600;
}

.btn-secondary {
    @apply bg-gray-500 text-white hover:bg-gray-600;
}

.btn-warning {
    @apply bg-yellow-500 text-white hover:bg-yellow-600;
}

.btn-danger {
    @apply bg-red-500 text-white hover:bg-red-600;
}